global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms


frontend balancer
    bind 0.0.0.0:80
    mode http
    default_backend web_backends


backend web_backends
    mode http
    option forwardfor
    balance roundrobin
    server weba nginx_php_a:80 check
    server webb nginx_php_b:80 check
    server webc nginx_php_c:80 check
    server webd lnmp1_nginx_a_1:80 check
    server webe lnmp1_nginx_b_1:80 check
    server webf lnmp1_nginx_c_1:80 check

listen admin_status
	bind :70
	mode http
	stats refresh 10s
	stats uri /
	
